@use '../utils/screen';

@mixin sectionInner {
  max-width: 1100px;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin sectionOuter {
  padding: {
    left: 4rem;
    right: 4rem;
  }

  @include screen.xs {
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
}
