.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  visibility: hidden;
  text-align: center;

  .tekiter {
    color: #005cab;
  }
}

.links {
  display: flex;
  justify-content: center;

  visibility: hidden;
}

@mixin buttonColor($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 20);
  }
}

@mixin roundLinkButton {
  border-radius: 0.3em !important;
}

.linkButton {
  @include roundLinkButton();

  &:not(:first-child) {
    margin-left: 0.7em;
  }
}

.githubButton {
  @extend .linkButton;
  @include buttonColor(black);

  color: white;
}

.solvedACButton {
  @extend .linkButton;
  @include buttonColor(black);
}
