@use 'controls';

.sectionOuter {
  @include controls.sectionOuter;

  padding: {
    top: 4rem;
    bottom: 4rem;
  }

  min-height: 100vh;
  visibility: hidden;

  background-color: #185f9c;
  color: #ebebeb;
}

.sectionInner {
  @include controls.sectionInner;
}
